; This file contains parameters for account service
[mysqld]

; Reduce memory usage
max_connections = 10

; Use utf8mb4 to support all Unicode characters,
;  ignore client flavours for character set.
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
skip-character-set-client-handshake

[mysql]
; Use utf8mb4 to support all Unicode characters
default-character-set=utf8mb4
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
